<h2 class="screen-align">Jare</h2>
<div class="">
    <div id="template-i356" class="gjs-row">
        <div id="template-ilmr" class="gjs-cell">
            <label id="template-iq25" class="">Name</label>
            <input type="text" id="template-i17fk" [(ngModel)]="name.name"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
            <div type="button" id="template-ichrg" (click)="Create()" class="btn btn-primary ">Create</div>
        </div>
        <div id="template-iuni" class="gjs-cell">
            <label id="template-id59" class="">Email</label>
            <input type="text" id="template-inhjf" [(ngModel)]="name.email"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
        </div>
    </div>
</div>